/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  position: relative;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000000;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, figure, fieldset {
  margin: 0;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
  margin-top: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.article {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.section {
  width: 1080px;
  padding: 30px;
}

.section__title-main {
  font-size: 50px;
  padding-left: 30px;
}

.section__text {
  line-height: 22px ;
}

.section__text:not(:last-child) {
  margin-bottom: 30px;
}

.navigation__link {
  color: #02535F;
}

.navigation {
  width: 1080px;
  background-color: #F1F1F1;
  border-radius: 8px;
  padding: 25px 25px 5px 25px;
}

.navigation__title {
  font-size: 36px;
  padding-left: 20px;
}

.navigation__list {
  padding-left: 45px;
}

.navigation__list-item {
  color: #02535F;
  line-height: 26px;
  text-decoration: underline;
}

.section-three__container {
  width: 1080px;
  padding: 30px;
}

.section-three__title-h2 {
  font-size: 26px;
  line-height: 32px;
}

.section-three__images-block-first {
  height: 415px;
  margin-bottom: 30px;
}

.section-three__image-first {
  float: left;
  margin-right: 30px;
}

.section-three__images-block-two {
  height: 279px;
}

.section-three__image-second {
  float: right;
}

.section-three-text {
  margin-bottom: 30px;
}

.section-four {
  width: 1080px;
  padding: 0 30px 30px 30px;
}

.section-four__container {
  width: 100%;
  height: 100%;
}

.section-four__container-image {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-four__text {
  margin-bottom: 30px;
}

.section-four__text-grey {
  color: #5E5E5E;
  padding: 0 30px 15px;
}

.section-four__border {
  border: 1px solid #000000;
  margin-bottom: 30px;
}

.section-five {
  width: 1080px;
  padding: 0 30px 30px 30px;
}

.section-five__text {
  margin-bottom: 30px;
}

.section-five__container {
  width: 100%;
  height: 100%;
}

.section-five__container-image {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-five__container-image:nth-of-type(3) {
  margin-bottom: 0;
}

/* .section-six {
  width: 1080px;
  background-color: #F1F1F1;
  border-radius: 8px;
  padding: 25px 25px 25px 25px;
}

.section-six-h2 {
  font-size: 36px;
  padding-left: 20px;
}

.section-six-list {
  padding-left: 45px;
}

.section-six__text {
  margin-bottom: 10px;
} */

.navigation__text-last {
  margin-bottom: 0;
}

.navigation_text:last-child {
  margin-bottom: 30px;
}